body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}  

.letter-image {
  position: relative;
  margin-top: 190px;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.animated-mail {
  position: absolute;
  height: 150px;
  width: 200px;
  -webkit-transition: 10.0s;
  -moz-transition: 10.0s;
  transition: 10.0s;
}
.animated-mail .body {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 100px 200px;
  border-color: transparent transparent #e95f55 transparent;
  z-index: 2;
}
.animated-mail .top-fold {
  position: absolute;
  top: 50px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 100px 0 100px;
  -webkit-transform-origin: 50% 0%;
  -webkit-transition: transform 10.0s 10.0s, z-index 5.0s 10.0s;
  -moz-transform-origin: 50% 0%;
  -moz-transition: transform 10.0s 10.0s, z-index 5.0s 10.0s;
  transform-origin: 50% 0%;
  transition: transform 10.0s 10.0s, z-index 5.0s 10.0s;
  border-color: #cf4a43 transparent transparent transparent;
  z-index: 2;
}
.animated-mail .back-fold {
  position: absolute;
  bottom: 0;
  width: 200px;
  height: 100px;
  background: #cf4a43;
  z-index: 0;
}
.animated-mail .left-fold {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 0 50px 100px;
  border-color: transparent transparent transparent #e15349;
  z-index: 2;
}
.animated-mail .letter {
  left: 20px;
  bottom: 0px;
  position: absolute;
  width: 160px;
  height: 60px;
  background: white;
  z-index: 1;
  overflow: hidden;
  -webkit-transition: 10.0s 5.0s;
  -moz-transition: 10.0s 5.0s;
  transition: 10.0s 5.0s;
}
.animated-mail .letter .letter-border {
  height: 10px;
  width: 100%;
  background: repeating-linear-gradient(-45deg, #cb5a5e, #cb5a5e 8px, transparent 8px, transparent 18px);
}
.animated-mail .letter .letter-title {
  margin-top: 10px;
  margin-left: 5px;
  height: 10px;
  width: 40%;
  background: #cb5a5e;
}
.animated-mail .letter .letter-context {
  margin-top: 10px;
  margin-left: 5px;
  height: 10px;
  width: 20%;
  background: #cb5a5e;
}
.animated-mail .letter .letter-stamp {
  margin-top: 30px;
  margin-left: 120px;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  background: #cb5a5e;
  opacity: 0.3;
}
.shadow {
  position: absolute;
  top: 200px;
  left: 50%;
  width: 400px;
  height: 30px;
  transition: 10.0s;
  transform: translateX(-50%);
  -webkit-transition: 10.0s;
  -webkit-transform: translateX(-50%);
  -moz-transition: 10.0s;
  -moz-transform: translateX(-50%);
  border-radius: 100%;
  background: radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}
.letter-image:hover .animated-mail {
  transform: translateY(50px);
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
}
.letter-image:hover .animated-mail .top-fold {
  transition: transform 10.0s, z-index 5.0s;
  transform: rotateX(180deg);
  -webkit-transition: transform 10.0s, z-index 5.0s;
  -webkit-transform: rotateX(180deg);
  -moz-transition: transform 10.0s, z-index 5.0s;
  -moz-transform: rotateX(180deg);
  z-index: 0;
}
.letter-image:hover .animated-mail .letter {
  height: 180px;
}
.letter-image:hover .shadow {
  width: 250px;
}


.letter-image1 {
  position: relative;
  margin-top: 190px;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.animated-mail1 {
  position: absolute;
  height: 150px;
  width: 200px;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  transition: 0.25s;
}
.animated-mail1 .body1 {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 100px 200px;
  border-color: transparent transparent #586d99 transparent;
  z-index: 2;
}
.animated-mail1 .top-fold1 {
  position: absolute;
  top: 50px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 100px 0 100px;
  -webkit-transform-origin: 50% 0%;
  -webkit-transition: transform 0.25s 0.25s, z-index 0.125s 0.25s;
  -moz-transform-origin: 50% 0%;
  -moz-transition: transform 0.25s 0.25s, z-index 0.125s 0.25s;
  transform-origin: 50% 0%;
  transition: transform 0.25s 0.25s, z-index 0.125s 0.25s;
  border-color: #586d99 transparent transparent transparent;
  z-index: 2;
}
.animated-mail1 .back-fold1 {
  position: absolute;
  bottom: 0;
  width: 200px;
  height: 100px;
  background: #586d99;
  z-index: 0;
}
.animated-mail1 .left-fold1 {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 0 50px 100px;
  border-color: transparent transparent transparent #586d99;
  z-index: 2;
}
.animated-mail1 .letter1 {
  left: 20px;
  bottom: 0px;
  position: absolute;
  width: 160px;
  height: 60px;
  background: rgb(255, 255, 255);
  z-index: 1;
  overflow: hidden;
  -webkit-transition: 0.25s 0.125s;
  -moz-transition: 0.25s 0.125s;
  transition: 0.25s 0.125s;
}
.animated-mail1 .letter1 .letter-border1 {
  height: 10px;
  width: 100%;
  background: repeating-linear-gradient(-45deg, #586d99, #586d99 8px, transparent 8px, transparent 18px);
}
.animated-mail1 .letter1 .letter-title1 {
  margin-top: 10px;
  margin-left: 5px;
  height: 10px;
  width: 40%;
  background: #586d99;
}
.animated-mail1 .letter1 .letter-context1 {
  margin-top: 10px;
  margin-left: 5px;
  height: 10px;
  width: 20%;
  background: #586d99;
}
.animated-mail1 .letter1 .letter-stamp1 {
  margin-top: 30px;
  margin-left: 120px;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  background: #586d99;
  opacity: 0.3;
}
.shadow1 {
  position: absolute;
  top: 200px;
  left: 50%;
  width: 400px;
  height: 30px;
  transition: 0.25s;
  transform: translateX(-50%);
  -webkit-transition: 0.25s;
  -webkit-transform: translateX(-50%);
  -moz-transition: 0.25s;
  -moz-transform: translateX(-50%);
  border-radius: 100%;
  background: radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}
.letter-image1:hover .animated-mail1 {
  transform: translateY(50px);
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
}
.letter-image1:hover .animated-mail1 .top-fold1 {
  transition: transform 0.5s, z-index 0.25s;
  transform: rotateX(180deg);
  -webkit-transition: transform 0.25s, z-index 0.125s;
  -webkit-transform: rotateX(180deg);
  -moz-transition: transform 0.25s, z-index 0.125s;
  -moz-transform: rotateX(180deg);
  z-index: 0;
}
.letter-image1:hover .animated-mail1 .letter1 {
  height: 180px;
}
.letter-image1:hover .shadow1 {
  width: 250px;
}

  
.bgimg-1 {
    background-image: url('/assets/img/widebg.jpg');
    height: 100vh;
          -webkit-animation: slidein 200s;
          animation: slidein 200s;
  
          -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  
          -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  
          -webkit-animation-direction: alternate;
          animation-direction: alternate;              
  }
  @import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');
  @-webkit-keyframes slidein {
  from {background-position: top; background-size:3000px; }
  to {background-position: -100px 0px;background-size:2750px;}
  }
  
  @keyframes slidein {
  from {background-position: top;background-size:3000px; }
  to {background-position: -100px 0px;background-size:2750px;}
  
}
#about {
    background-color: rgb(255, 255, 255. 0.25);
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-color: rgba(90, 93, 99, 0.85);
  min-height: 100px;
}

/* Third image (Contact) */
.bgimg-3 {
    background-color: rgba(90, 93, 99, 0.85);
    min-height: 100px;
}
.center
{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(75, 75, 250, 0.3);
  border-radius: 3px;
}
.center h1{
  text-align:center;
  color:white;
  font-family: 'Source Code Pro', monospace;
  text-transform:uppercase;
}
.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}
